.modal-manage-todo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--black-int-color), 0.5);
  position: absolute;
  z-index: 9999;
}

.modal-manage-todo__btn-close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: var(--white-color);
  cursor: pointer;
}

.modal-manage-todo__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  border-radius: 1rem;
  width: 75%;
  height: 50%;
  background-color: var(--primary-color);
}

.modal-manage-todo__form-category {
  font-size: 3rem;
  color: var(--white-color);
  align-self: flex-start;
  width: calc(100%-2rem);
  margin: 0 1rem 0 1rem;
}

.modal-manage-todo__form-textarea {
  resize: none;
  width: calc(100% - 2rem);
  height: 70%;
  padding: 1rem;
  margin: 1rem;
  border: none;
  outline: none;
  color: var(--primary-color);
  font-size: 2rem;
  background-color: var(--white-color);
  border-radius: 1rem;
}

.modal-manage-todo__form-submit {
  background-color: var(--white-color);
  width: calc(100% - 2rem);
  height: 10%;
  border-radius: 1rem;
  color: var(--primary-color);
  border: none;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
