.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-white);
  border-radius: 1rem;
  margin: 0.5rem 0 0.5rem 0;
  transition: background-color 1s;
}

.todo-item--done {
  background-color: var(--color-red);
  transition: background-color 1s;
}

.todo-item__header {
  display: grid;
  grid-template-columns: 3rem 1fr;
  justify-items: center;
  align-items: center;
  width: 70%;
  height: auto;
}

.todo-item__btn-undone-icon {
  color: var(--color-white);
  font-size: 2rem;
  cursor: pointer;
}

.todo-item__btn-done-icon {
  color: var(--color-primary);
  font-size: 2rem;
  cursor: pointer;
}

.todo-item__content {
  font-size: 2rem;
  justify-self: flex-start;
  align-self: flex-start;
  color: var(--color-black);
}

.todo-item__content--done {
  font-size: 2rem;
  justify-self: flex-start;
  align-self: flex-start;
  color: var(--color-white);
}

.todo-item__options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row nowrap;
  gap: 1rem;
  width: 30%;
  height: auto;
}

.todo-item__btn-remove-icon,
.todo-item__btn-edit-icon,
.todo-item__btn-move-important-icon {
  font-size: 1.5rem;
  color: var(--color-primary);
  cursor: pointer;
}

.todo-item__btn-remove-icon--done {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-white);
}
