.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  position: absolute;
  z-index: 9999999;
  right: 2rem;
  top: 2rem;
  width: 25rem;
  border-radius: 1rem;
}

.alert.good-alert {
  background-color: var(--green-color);
  padding: 1rem;
}

.alert.bad-alert {
  background-color: var(--red-color);
  padding: 1rem;
}

.alert h2 {
  font-size: 1.5rem;
  color: var(--white-color);
}

.icon__alert-close {
  width: 100%;
  font-size: 3rem;
  color: var(--white-color);
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .alert {
    width: 50rem;
  }
}
