.alert_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  position: absolute;
  z-index: 9999999;
  right: 2rem;
  top: 2rem;
  width: 25rem;
  border-radius: 1rem;
}

.alert_container.good-alert {
  background-color: rgb(0, 255, 0);
  padding: 1rem;
}

.alert_container.bad-alert {
  background-color: red;
  padding: 1rem;
}

.alert_container h2 {
  font-size: 1.5rem;
  color: #fff;
}

.alert-close {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .alert_container {
    width: 50rem;
  }
}
