.sidebar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
  position: absolute;
}

.sidebar__header {
  padding: 0.625rem;
}

.sidebar__title {
  font-size: 1.875rem;
  color: var(--color-white);
}

.sidebar__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0.625rem;
}

.sidebar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  list-style: none;
  width: 100%;
  height: 100%;
}

.sidebar__btn-open-modal-add-category-icon {
  position: absolute;
  z-index: 50;
  bottom: 1.25rem;
  right: 1.25rem;
  font-size: 1.875rem;
  background-color: var(--color-red);
  color: var(--color-white);
  border-radius: 50%;
  padding: 0.3125rem;
  cursor: pointer;
}

.sidebar__hr {
  width: 100%;
  color: var(--color-black);
  background-color: var(--color-black);
  margin: 0.625rem 0 0.625rem 0;
}

@media only screen and (min-width: 1024px) {
  .sidebar {
    width: 18.75rem;
    background-color: var(--color-white);
  }

  .sidebar__title {
    font-size: 1.875rem;
    color: var(--color-black);
  }
}
