.sidebar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  position: absolute;
}

.sidebar__header {
  padding: 1rem;
}

.sidebar__title {
  font-size: 3rem;
  color: var(--white-color);
}

.sidebar__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.sidebar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  list-style: none;
  width: 100%;
  height: 100%;
}

.sidebar__btn-open-modal-add-category-icon {
  position: absolute;
  z-index: 50;
  bottom: 2rem;
  right: 2rem;
  font-size: 3rem;
  background-color: var(--red-color);
  color: var(--white-color);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

.sidebar__hr {
  width: 100%;
  color: var(--black-color);
  background-color: var(--black-color);
  margin: 1rem 0 1rem 0;
}

@media only screen and (min-width: 1024px) {
  .sidebar {
    width: 30rem;
    background-color: var(--white-color);
  }

  .sidebar__title {
    font-size: 3rem;
    color: var(--black-color);
  }
}
